set editing-mode vi
set visible-stats on
set colored-stats on
set show-mode-in-prompt on
set show-all-if-ambiguous on
set colored-completion-prefix on
set menu-complete-display-prefix on

$if mode=vi
    "\C-a": beginning-of-line
    "\C-e": end-of-line
    "\C-b": backward-word
    "\C-f": forward-word

    "\C-w": unix-word-rubout
    "\C-y": undo
    "\ey":  yank

    "\C-l": clear-screen
    "\C-k": redraw-current-line

    "\C-k": previous-history
    "\C-j": next-history
    "\C-r": reverse-search-history
    "\C-s": forward-search-history

    "\C-q": quoted-insert

    "\C-x\C-r": re-read-init-file
$endif

$if term=linux
    "\e\C-M": "startx\C-M"
$endif

